parameters:
    level: 8
    # tmpDir: /tmp - that's the default option. The /tmp directory is used in the makefile to make the pipeline faster.
    paths:
        - src
        - tests
    ignoreErrors:
        -
            identifier: missingType.iterableValue
            path: tests/*
        -
            message: '#Offset ''class'' might not exist on array\{function: string, line\?: int, file\?: string, class\?: class-string, type\?: ''->''\|''::'', args\?: array<mixed>, object\?: object\}#'
            path: tests/*
